.croc-app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.croc-form-container {
  color: var(--plt-3);
  padding: 5px 5px;
  width: 16rem;
  height: 4rem;
  border-radius: 32px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: inset -2px -2px 2px hsla(0, 0%, 0%, 0.4), inset 2px 2px 2px rgba(255, 255, 255, 0.2);
  background-color: var(--plt-2);
}

.croc-lives-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 4rem;
}

.croc-heart {
  opacity: 90%;
  stroke: black;
  fill: hsl(0, 35%, 24%);
  height: 3rem;
  transform: scale(90%);
  transition: 500ms;
}

.filled {
  opacity: 100%;
  fill: hsl(0, 92%, 53%);
  animation: heartBounce 2s infinite;
}

@keyframes heartBounce {
  0% {
    fill: hsl(0, 88%, 46%);
    transform: scale(95%);
  }
  50% {
    fill: hsl(0, 93%, 54%);
    transform: scale(98%);
  }
  100% {
    fill: hsl(0, 88%, 46%);
    transform: scale(95%);
  }
}
.croc-input {
  width: 4rem;
  font-size: 32px;
  text-align: center;
  background-color: var(--plt-3);
  color: var(--text-color);
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.croc-input:focus {
  outline: none;
}

.croc-number {
  width: 2ch;
  align-self: center;
  text-align: center;
  font-size: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.crocodile {
  height: 10rem;
  margin: 1rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.points {
  font-size: 24px;
  margin: 1rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.wrong-answer-points {
  animation: wrongAnswerPoints 0.3s;
  animation-iteration-count: 2;
}

.right-answer-points {
  animation: rightAnswerPoints 0.3s;
  animation-iteration-count: 2;
}

.wrong-answer-img {
  animation: wrongAnswerImg 0.35s;
}

.right-answer-img {
  animation: rightAnswerImg 0.35s;
}

.croc-reset-button {
  color: var(--plt-3);
  font-size: 1rem;
  margin-top: 1rem;
  width: 11rem;
  height: 3rem;
  background-color: var(--plt-2);
  border: 2px solid black;
  border-radius: 30px;
}
.croc-reset-button:hover {
  background-color: var(--plt-2-lighter);
}
.croc-reset-button:active {
  transform: scale(99%);
}

.croc-game-over {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--plt-2);
  text-shadow: 2px 2px 2px black;
  animation: gameOver 1.5s infinite linear;
}

@keyframes wrongAnswerPoints {
  0% {
    text-shadow: 0 0 1px hsla(0, 100%, 50%, 0);
  }
  50% {
    text-shadow: 0 0 10px hsl(0, 100%, 50%);
  }
  100% {
    text-shadow: 0 0 1px hsla(0, 100%, 50%, 0);
  }
}
@keyframes rightAnswerPoints {
  0% {
    text-shadow: 0 0 10px hsla(0, 100%, 50%, 0);
  }
  50% {
    text-shadow: 0 0 10px rgb(0, 255, 0);
  }
  100% {
    text-shadow: 0 0 10px hsla(0, 100%, 50%, 0);
  }
}
@keyframes wrongAnswerImg {
  0% {
    transform: translateX(1%);
  }
  25% {
    transform: translateX(-1%);
  }
  50% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-0.5%);
  }
  100% {
    transform: translateX(0.5%);
  }
}
@keyframes rightAnswerImg {
  0% {
    transform: scale(101%);
  }
  25% {
    transform: scale(99%);
  }
  50% {
    transform: scale(101%);
  }
  75% {
    transform: scale(99.5%);
  }
  100% {
    transform: scale(100.5%);
  }
}
@keyframes gameOver {
  0% {
    color: hsl(0, 70%, 35%);
  }
  50% {
    color: hsl(0, 80%, 50%);
  }
  100% {
    color: hsl(0, 70%, 35%);
  }
}/*# sourceMappingURL=CrocodileGame.css.map */